.App{
    width: 400px;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
  }
  .cikis{
    position:relative;
  }
  .ekleme_formu input,
  .ekleme_formu button,
  .temizle{
    padding: 5px;
    border:0;
    outline:0;
    font-size:15px;
  }
  .button{
    color: white;
  }
  .temizle:hover{
    background-color: #654321;
  }
  .ekleme_formu button:hover{
    background-color: #654321;
  }
  .ekleme_formu input{
    background-color: white;
  }
  .ekleme_formu button,
  .temizle{
    background-color: #FFDEAD;
    color: black;
  }
  .liste{
    padding: 20px 0;
  }
  .liste >div{
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  .liste >div:last-child{
    border-bottom: 0;
  }
  .yapildi{
    text-decoration: line-through;
  }
  .btn-primary{
    margin:auto;
  }